<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>io.damus.nostr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nostr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>io.damus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>damus</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>io.damus.nwc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nostrwalletconnect</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>io.damus.nwcp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nostr+walletconnect</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>river</string>
		<string>bitcoinbeach</string>
		<string>breez</string>
		<string>muun</string>
		<string>zeusln</string>
		<string>zebedee</string>
		<string>lightning</string>
		<string>phoenix</string>
		<string>lnlink</string>
		<string>strike</string>
		<string>bluewallet</string>
		<string>walletofsatoshi</string>
		<string>blixtwallet</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Damus needs access to your camera in order to upload photos and scan QR codes.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Damus needs access to your media library for playback statuses</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Damus needs access to your microphone for creating video recording posts</string>
</dict>
</plist>
